@charset "UTF-8";
.mainIndex {
  margin: 0px 80px;
}
.mainIndex .carousel {
  margin: 50px auto;
  width: 80%;
}
.mainIndex .carousel .carousel-caption {
  left: 0px;
  width: 100%;
  text-shadow: black 1px -2px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  padding: 20px;
}
.mainIndex p {
  font-size: 2rem;
  margin: 0 150px;
  text-align: justify;
}

.mainVitraux h3 {
  margin: 50px 0px;
  font-size: 2.5rem;
  text-align: center;
}
.mainVitraux img {
  width: 600px;
}
.mainVitraux .gridVitraux {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
}
.mainVitraux .gridVitraux .imagen1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.mainVitraux .gridVitraux .imagen2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.mainVitraux .gridVitraux .imagen3 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.mainVitraux .gridVitraux .imagen4 {
  grid-column: 2/3;
  grid-row: 4/5;
}
.mainVitraux .gridVitraux .texto1 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 40px;
  margin: 40px;
  background-color: bisque;
  border-radius: 60px;
  font-size: 2rem;
  text-align: center;
  align-self: center;
}
.mainVitraux .gridVitraux .texto2 {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 40px;
  margin: 40px;
  background-color: bisque;
  border-radius: 60px;
  font-size: 2rem;
  text-align: center;
  align-self: center;
}
.mainVitraux .gridVitraux .texto3 {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 40px;
  margin: 40px;
  background-color: bisque;
  border-radius: 60px;
  font-size: 2rem;
  text-align: center;
  align-self: center;
}
.mainVitraux .gridVitraux .texto4 {
  grid-column: 1/2;
  grid-row: 4/5;
  padding: 40px;
  margin: 40px;
  background-color: bisque;
  border-radius: 60px;
  font-size: 2rem;
  text-align: center;
  align-self: center;
}

.mainUsos h3 {
  margin: 50px 0px;
  font-size: 2.5rem;
  text-align: center;
}
.mainUsos p {
  text-align: justify; /* Alineación justificada */
  margin: 0 auto; /* Margen automático a los lados */
  max-width: 1200px; /* Ancho máximo para mejor legibilidad */
  padding: 20px; /* Espaciado interno */
  font-size: 1.1rem; /* Tamaño de fuente */
  line-height: 1.6; /* Altura de línea para mejor legibilidad */
  font-family: "Arial", sans-serif; /* Tipo de fuente */
}
.mainUsos .fotosUsos {
  overflow: hidden;
  padding: 50px 0;
  white-space: nowrap;
}
.mainUsos .fotosUsos .usos-slide {
  display: inline-block;
  animation: 25s slide infinite linear;
}
.mainUsos .fotosUsos .usos-slide img {
  height: 300px;
}
.mainUsos .fotosUsos:hover .usos-slide {
  animation-play-state: paused;
}
.mainUsos .fotosUsos::before,
.mainUsos .fotosUsos::after {
  position: absolute;
  width: 250px;
  height: 300px;
  content: "";
  z-index: 2;
}
.mainUsos .fotosUsos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.mainUsos .fotosUsos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.mainGaleria {
  padding: 0 50px;
}
.mainGaleria h3 {
  margin: 50px 0;
  font-size: 2.5rem;
  text-align: center;
}
.mainGaleria .gridGaleria {
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;
}
.mainGaleria .gridGaleria .imagen {
  position: relative;
  text-align: center;
  width: 100%; /* Ajustar el tamaño al contenedor */
  margin-bottom: 20px;
  padding: 10px;
}
.mainGaleria .gridGaleria .imagen img {
  width: calc(100% - 20px); /* Reducir un poco el tamaño de la imagen */
  height: auto;
  display: block;
  border-radius: 8px;
}
.mainGaleria .gridGaleria .imagen h4 {
  position: absolute;
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 8px;
  font-size: 1.2rem;
  margin: 0;
}
.mainGaleria p {
  text-align: center;
  margin-top: 30px;
}

.mainTrabajos {
  padding: 0px 50px;
}
.mainTrabajos h3 {
  margin: 50px 0px;
  font-size: 2.5rem;
  text-align: center;
  color: #333;
}
.mainTrabajos .contenedorImagenesTrabajos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}
.mainTrabajos .contenedorImagenesTrabajos img {
  width: 45%;
  height: auto;
  border-radius: 10px;
}
.mainTrabajos p {
  text-align: justify;
  line-height: 1.6;
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}
.mainTrabajos ul {
  columns: 2;
  column-gap: 30px;
  list-style-type: disc;
  padding-left: 20px;
  font-size: 1rem;
  color: #555;
}
.mainTrabajos ul li {
  margin-bottom: 10px;
}

.mainRedes {
  padding: 20px;
}
.mainRedes .contenedorRedes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.mainRedes .contenedorRedes a {
  display: block;
  width: 250px;
  height: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mainRedes .contenedorRedes a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.mainRedes .contenedorRedes a:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
  width: 100%;
  margin: 50px auto 0;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  justify-items: center;
}
.container .logo {
  justify-self: start;
  margin-left: 20px;
}
.container .logo img {
  max-width: 100%;
  height: auto;
}
.container .texto {
  text-align: center;
}
.container .texto .titulo, .container .texto .subtitulo {
  margin: 0;
}

.fixedNav {
  position: fixed;
  top: 0;
  z-index: 1000; /* Ajusta según sea necesario */
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.navbar-nav .active {
  text-decoration: underline;
  font-weight: bold;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=estilos.css.map */
